.sudoku-board {
    min-height: 30rem;
    margin-bottom: 1em;
}

body{
    background-image: url(http://s1.picswalls.com/wallpapers/2015/12/12/wallpaper-halloween-free_014853494_295.jpg);
    height: 100vh;
}

.sudoku-board-cell {
    display: inline-block;
    position: relative;
    border: 1px solid #334747;
    background-color: #efa135;
    max-width: 11.11111%;
}

[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(9n+1)
{
    border-left-width: 5px;
    border-left-color: #334747;
}

[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n):nth-of-type(-n+9)
{
    border-top-width: 5px;
    border-top-color: #334747;
}

[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(3n)
{
    border-right-width: 5px;
    border-right-color: #334747;
}

[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+19):nth-of-type(-n+27),
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+46):nth-of-type(-n+54),
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+73):nth-of-type(-n+81)
{
    border-bottom-width: 5px;
    border-bottom-color: #334747;
}

.sudoku-board-cell input
{
    font-family: "Poppins", sans-serif;
    background: none;
    font-size: 19.2px;
    font-size: 1.2rem;
    text-align: center;
    width: 2em;
    max-width: 100%;
    height: 2em;
    border: 0;
    position: relative;
    z-index: 1;
}

.sudoku-board-cell .highlight-val 
{
    color: #00d;
}

.sudoku-board-cell .board-cell--error 
{
    background: #d00;
    color: #eee;
}

.sudoku-board-cell .candidates
{
    display: none;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: center;
    font-size: .75em;
    letter-spacing: -.5px;
    line-height: 0;
    text-align: justify;
}

.sudoku-board .candidates:after 
{
    content: "";
    display: inline-block;
    width: 100%;
}

@media(max-width: 23em)
{
    .sudoku-board .candidates 
    {
        letter-spacing: -2px;
    }
}

.showCandidates .candidates 
{
    display: block;
}

.sudoku-board .candidates div 
{
    display: inline-block;
    width: 20%;
    line-height: 1.13;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.candidate--highlight
{
    background-color: yellow;
}

.candidate--to-remove 
{
    background-color: red;
    color: white;
}

.wrap h1 
{
    font-family: "Poppins", sans-serif;
    color: #db7500;
    font-weight: 600;
    font-size: 3rem;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;

    text-shadow:-2px  2px 0 #000,
                -2px  2px 0 #000,
				 2px  2px 0 #000,
				 2px -2px 0 #000;
}

.wrap h1 span 
{
    text-align: center;
    margin-top: 5px;
    font-size: 15px; 
    color: #ff0000;
    word-spacing:1px;
    font-weight: 600;
    letter-spacing:2px;
    text-transform: uppercase;
    font-family:"Raleway", sans-serif;
    font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    text-shadow: none;

}

.wrap h1 span:after,.nine h1 span:before 
{
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

h2
{
    font-family: "Poppins", sans-serif;
    color: #db5000;
    font-size: 1.15rem;
    opacity: 1.0;
    display: inline;
    text-shadow:-1px  1px 0 #000,
                -1px  1px 0 #000,
				 1px  1px 0 #000,
				 1px -1px 0 #000;
}

.js-generate-board-btn--easy,.js-generate-board-btn--medium
,.js-generate-board-btn--hard,.js-generate-board-btn--very-hard
,.js-analyze-board-btn,.js-clear-board-btn,.js-solve-all-btn
,.js-solve-step-btn
{
    
    background-color: rgba(255, 255, 255, 0.5);
    border: black 2px solid;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.js-generate-board-btn--easy:hover,.js-generate-board-btn--medium:hover
,.js-generate-board-btn--hard:hover,.js-generate-board-btn--very-hard:hover
,.js-analyze-board-btn:hover,.js-clear-board-btn:hover,.js-solve-all-btn:hover
,.js-solve-step-btn:hover
{
    box-shadow:
    -7px -7px 20px 0px rgba(0, 0, 0, 0.11),
    -4px -4px 5px 0px rgba(0, 0, 0, 0.11),
    7px 7px 20px 0px rgba(0, 0, 0, 0.11),
    4px 4px 5px 0px rgba(0, 0, 0, 0.11);
    transform: scale(1.1);
}

td
  {
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color:white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }